.spec{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 250, 250);
}
.specWrapper{
    background-color: rgb(233, 250, 250);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.specUpperDiv{
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    height: 50px;
    font-size: 30px;
    align-items: center;
    margin:20px;
    justify-content: center;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.specLowerDiv{
    background-color: rgb(233, 250, 250);
    display: flex;
    margin: 20px;
    flex: 12;
}

.specImageContainer{
    background-color: rgb(233, 250, 250);
    height: 440px;
    width: 340px;
    border-radius: 20px;
    flex:5;
}
.specSpecContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    flex:7;
}
.specBasicSpecContainer{
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 6px;
    flex-direction: column;
    background-color: white;
    height: 200px;
    align-items: center;
}
.specBasicMakeName{
    display: flex;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px grey solid;
    margin-left: 20px;
}
.specBasicSpecItem{
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
}
.specBasicSpecKey{
    display: flex;
    align-items: center;
    background-color: white;
    width: 20%;
    border-right: 1px solid grey;
    padding-left: 10px;
}
.specBasicSpecKeyPrice{
    background-color: white;
    width: 26.8%;
    padding-left: 10px;
    border-right: 1px solid grey;

}
.specBasicSpecValue{
    padding: 5px;
    margin-left: 20px;
}
.favoriteMakeAddButton{
    margin-left: 130px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-color: rgb(174, 201, 240);
    color: rgb(81, 80, 80);
}
.specDetailedSpecContainer{
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 6px;
    flex-direction: column;
    background-color: white;
    height: 200px;
}
.specDetailedSpecItem{
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
}
.specDetailedSpecKey{
    display: flex;
    align-items: center;
    background-color: white;
    width: 30%;
    border-right: 1px solid grey;
    padding-left: 10px;
}

.specDetailedSpecKeyRearSuspension{
    display: flex;
    align-items: center;
    background-color: white;
    width: 34%;
    border-right: 1px solid grey;
    padding-left: 10px;

}
.specDetailedSpecValue{
    padding: 5px;
    margin-left: 20px;
}
.specImage{
    width: 320px;
    height: 300px;
    object-fit: fill;
    border-radius: 30px;
    margin:5px;
}