.questionDetailContainer {
  display: flex;
  flex: 12;
  height: auto;
}
.questionDetailCenter {
  flex: 9;
  display: flex;
  flex-direction: column;
}
.questionDetailTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-size: 32px;
  flex: 1;
}

.questionDetailBody {
  flex: 6;
  position: relative;
  display: flex;
  padding: 24px;
  background-color: antiquewhite;
}
.questionDetailBodyText {
  padding: 12px;
  font-size: 24px;
}

.questionDetailBodyUserInfo {
  position: absolute;
  padding: 12px;
  background-color: rgb(199, 232, 246);
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 5px;
}
.questionDetailBodyUserInfoLower {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
}
.questionDetailCommentContainer {
  flex: 2;
  background-color: rgb(249, 214, 214);
}

.questionDetailBodyVoteIconsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-right: 1px solid grey;
  margin-right: 10px;
}
.upvoteIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.upvoteIcon:hover {
  color: aqua;
}

.downvoteIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.downvoteIcon:hover {
  color: aqua;
}
.questionDetailBodyUserName {
  margin-left: 10px;
}
.questionDetailCommentInputs {
  display: flex;
  width: 80%;
  margin: 20px;
  align-items: flex-end;
  justify-content: end;
}
.questionDetailCommentInput {
  width: 80%;
  margin-right: 20px;
  border-radius: 5px;
}
.questionDetailsComments {
  height: 100%;
  overflow: scroll;
}
